.title{
    font-family: "Playwrite IS", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 80px;
    opacity: 0.6;
    display: flex;
    justify-content: center;
}
.main{
    display: flex;
    justify-content: center;
}

form, li {
    width: 500px;
    font-family: "Playwrite NZ", cursive;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}


.hidden-icon > span {
    visibility: hidden;
  }
  /* Muestra el icono cuando el cursor pase por encima del li */
  .hidden-icon:hover > span {
    visibility: visible;
  }